# node modules paste
node_modules/

# build paste
dist/

# babel
.babelrc

# vscode configs
.editorconfig

# prettier
.prettierignore
.prettierrc

# next settings
next-env.d.ts
next.config.js

# yarn files
yarn.lock
yarn-error.log*